{
    "{scripts,src}/**/*.{ts,tsx}": [
        "prettier --write",
        "tslint",
        "git add"
    ],
    "{scripts,src,dev-tools}/**/*.{js,jsx}": [
        "prettier --write",
        "eslint",
        "git add"
    ],
    "./*.{js,jsx}": [
        "prettier --write",
        "eslint",
        "git add"
    ],
    "test/{helpers,unit}/**/*.{js,jsx}": [
        "prettier --write",
        "eslint",
        "git add"
    ],
    "{src,styles}/**/*.css": [
        "stylelint",
        "git add"
    ]
}