{
  "arrowParens": "always",
  "bracketSpacing": false,
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "parser": "typescript"
}
